==
<div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">Footer Fodder</h5>
                <p class="grey-text text-lighten-4">“And then, one Thursday, nearly two thousand years after one man had been nailed to a tree for saying how great it would be to be nice to people for a change, a girl sitting on her own in a small café in Rickmansworth suddenly realized what it was that had been going wrong all this time, and she finally knew how the world could be made a good and happy place. This time it was right, it would work, and no one would have to get nailed to anything.” </p><p>-Douglas Adams</p>
            </div>
            <div class="col l4  s12">
                <h5 class="white-text">Server Tech</h5>
                <ul>
                    <li><a href="https://letsencrypt.org/"><img src="{{ 'assets/images/pills/letsencrypt.png'|theme }}" alt="Let's Encrypt logo"></a></li>
                    <li><a href="https://nginx.org/"><img src="{{ 'assets/images/pills/nginx.png'|theme}}" alt="nginx logo"></a></li>
                    <li><a href="https://www.ispconfig.org/"><img src="{{ 'assets/images/pills/ispconfig.png'|theme }}" alt="ISPConfig Logo"></a></li>
                </ul>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">Site Tech</h5>
                <ul>
                    <li><a href="http://www.w3.org/html/logo/"><img src="https://www.w3.org/html/logo/badge/html5-badge-h-css3-device-graphics-performance-semantics.png" width="261" height="64" alt="HTML5 Powered with CSS3 / Styling, Device Access, Graphics, 3D &amp; Effects, Performance &amp; Integration, and Semantics" title="HTML5 Powered with CSS3 / Styling, Device Access, Graphics, 3D &amp; Effects, Performance &amp; Integration, and Semantics">
                    </a></li>
                    <li><a href="https://materializecss.com/"><img src="{{ 'assets/images/pills/materializelogo.png'|theme}}" alt="materialize logo"></a></li>
                    <li><a href="https://octobercms.com/"><img src="{{ 'assets/images/pills/octobercms.png'|theme }}" alt="OctoberCMS logo."></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            &copy; 2017 - {{ "now"|date("Y") }} Bradley Gillap
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>