==
<nav role="navigation">
    <div class="nav-wrapper row grey darken-4">
        <div class="left-20">{% content "home/logo.htm" %}</div>
<!-- Mobile Menu Begin -->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="side-nav grey darken-4" id="mobile-demo">
            <li><a {% if this.page.id == 'home' %}class="amber-text" {% else %}class="white-text" {% endif %}href="{{ 'home'|page }}"><i class="material-icons white-text">home</i>Home</a></li>
            <li><a {% if this.page.id == 'guides' %}class="amber-text" {% else %}class="white-text" {% endif %}href="{{ 'guides'|page }}"><i class="material-icons white-text">list</i>Guides</a></li>
            <li><a {% if this.page.id == 'resume' %}class="amber-text" {% else %}class="white-text" {% endif %}href="{{ 'resume'|page }}"><i class="material-icons white-text">insert_drive_file</i>Resume</a></li>
            <li><a {% if this.page.id == 'contact' %}class="amber-text" {% else %}class="white-text" {% endif %}href="{{ 'contact'|page }}"><i class="material-icons white-text ">contact_mail</i>Contact</a></li>
        </ul>
<!-- Mobile Menu End -->
<!-- Large Search Begin -->
        <div class="input-field col s3 right hide-on-med-and-down">
            <form action="{{ 'search' | page }}" method="get">
                <div>
                    <input name="q" placeholder="What are you looking for?" autocomplete="off" id="search" type="search" required >
                    <label  class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
<!-- Large Search End -->
<!-- Small Search Begin -->
        <div class="input-field col s9 right hide-on-large-only">
            <form action="{{ 'search' | page }}" method="get">
                <div>
                    <input name="q" placeholder="What are you looking for?" autocomplete="off" id="searchmobile" type="search" required>
                    <label class="label-icon" for="searchmobile"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
<!-- Small Search End -->
<!-- Large Menu Begin -->
        <ul class="right hide-on-med-and-down grey darken-4">
            <li><a {% if this.page.id == 'home' %}class="amber-text" {% endif %} href="{{ 'home'|page }}"><i class="material-icons right nav-hover">home</i>Home</a></li>
            <li><a {% if this.page.id == 'guides' %}class="amber-text" {% endif %} href="{{ 'guides'|page }}"><i class="material-icons right nav-hover">list</i>Guides</a></li>
            <li><a {% if this.page.id == 'resume' %}class="amber-text" {% endif %} href="{{ 'resume'|page }}"><i class="material-icons right nav-hover">insert_drive_file</i>Resume</a></li>
            <li><a {% if this.page.id == 'contact' %}class="amber-text" {% endif %} href="{{ 'contact'|page }}"><i class="material-icons right nav-hover">contact_mail</i>Contact</a></li>
            {% if user %}
            <li><a data-request="onLogout" data-request-data="redirect: ''">Sign out</a></li>
            {% endif %}
        </ul>
<!-- Large Menu End -->
    </div>
</nav>